body {
    font-family: Arial;
    background: #000;
    color: #fff;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 15px;
    margin: 6px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.mesaBtn {
    font-size: 20px;
    width: 45%;
    background: #535353;
    color: #fff;
}

.produto {
    width: 45%;
    background: #c7c7c7;
    color: #000;
}

.finalizar {
    background: red;
    color: white;
    width: 90%;
}

li {
    font-size: 25px;
    background: #222;
    margin: 5px;
    padding: 12px;
    border-radius: 8px;
}

.oculto {
    display: none;
}

#qrArea img {
    width: 200px;
    margin: 10px;
}
