body {
    font-family: Arial;
    background: #000;
    color: #fff;
    text-align: center;
}

h1 {
    color: #fff;
}

button {
    padding: 15px;
    margin: 6px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.mesaBtn {
    width: 45%;
    background: #838383;
    color: #000000;
    font-size: 20px;
}

.produto {
    font-size: 20px;
    width: 45%;
    background: #aaa;
    color: #000;
}

.finalizar {
    background: red;
    color: white;
    width: 90%;
    font-size: 18px;
}

li {
    font-size: 20px;
    background: #222;
    margin: 5px;
    padding: 12px;
    border-radius: 8px;
}

.oculto {
    display: none;
}